#leaf-area {
  position: relative;
  overflow: hidden;
  min-width: 600px;
  height: 600px;
  background-image: url("https://www.misskatecuttables.com/uploads/shopping_cart/8340/large_fall-tree.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#leaf-area div > * {
    position: absolute;
    width: 100%;
    height: 100%;
    align-content: center;
}
#leaf-area div {
  position: absolute;
  top: 175px;
  text-align: center;
}

/* ------------- Leaf Colors ------------- */
.leaf-yellow .leaf-stem {
  fill: #d4a017; /* Golden yellow */
}

.leaf-yellow .leaf-border {
  fill: #c89214; /* Deep yellow */
}

.leaf-yellow .leaf-area {
  fill: #f5d76e; /* Bright yellow */
}

/* Red Leaf Theme */
.leaf-red .leaf-stem {
  fill: #8b0000; /* Dark red */
}

.leaf-red .leaf-border {
  fill: #a52a2a; /* Brownish red */
}

.leaf-red .leaf-area {
  fill: #ff6347; /* Tomato red */
}

/* Brown Leaf Theme */
.leaf-brown .leaf-stem {
  fill: #82522f; /* Saddle brown */
}

.leaf-brown .leaf-border {
  fill: #a0522d; /* Sienna */
}

.leaf-brown .leaf-area {
  fill: #b0936e; /* Tan */
}

.leaf-brown span, .leaf-red span {
    color: white;
}

/* Orange Leaf Theme */
.leaf-orange .leaf-stem {
  fill: #ff8c00; /* Dark orange */
}

.leaf-orange .leaf-border {
  fill: #ffa500; /* Bright orange */
}

.leaf-orange .leaf-area {
  fill: #ffb676;
}